{% load static %}
<div class="carousel-item">
    <div class="book-card">
        <a href="{% if show_admin_actions %}{% url 'books_admin:book_detail' book.id %}{% else %}{% url 'book_detail' book.id %}{% endif %}" class="book-link">
            <div class="book-cover-container">
                {% if book.image %}
                    <img src="{{ book.image.url }}" alt="{{ book.title }}" class="book-cover">
                {% elif book.cover_path %}
                    <img src="{% static book.cover_path %}" alt="{{ book.title }}" class="book-cover" onerror="this.onerror=null; this.src='{% static 'images/books/default-cover.jpg' %}';">
                {% else %}
                    <img src="{% static 'images/books/default-cover.jpg' %}" alt="{{ book.title }}" class="book-cover">
                {% endif %}
                {% if book.badge %}
                    <span class="book-badge badge-{{ book.badge }}">{{ book.get_badge_display }}</span>
                {% endif %}
            </div>
            <div class="book-info">
                <div class="book-details">
                    <h3 class="book-title">{{ book.title }}</h3>
                    <p class="book-author">{{ book.author }}</p>
                </div>
            </div>
        </a>
    </div>
</div> 